@model MyTrails.ViewModels.CombineViewModel

@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/trailcombine")

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-sm-6">
        <div style="overflow:auto;height:500px;width:250px;">
            <ul class="list-group">

                @foreach (var item in Model.Trails)
                {
                    <li class="list-group-item trail">  @Html.DisplayFor(modelItem => item.TrailName)</li>

                }
            </ul>
        </div>
    </div>
    <div class="col-sm-6">

        <div style="overflow:auto;height:500px;width:250px;">
            <ul class="list-group">

                @foreach (var item in Model.TrailSections)
                {
                    <li class="list-group-item li">@item</li>

                }
            </ul>
        </div>
    </div>
    <button id="combineclick" onclick="submitCombine()" value="click to combine"></button>


</div>


