@model MyTrails.ViewModels.CombineViewModel

@{
    ViewBag.Title = "Index";
}





<div>
    Select a trail in the database and any trail names from the GeoData that match to combine their data
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="Trails">Trails in Database</label>
        <div style="overflow:auto;height:500px;">
            <ul class="list-group" id="Trails">

                @foreach (var item in Model.Trails)
                {
                    <li class="list-group-item trail">  @Html.DisplayFor(modelItem => item)</li>

                }
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <label for="GeoData">Trails in GeoData File</label>
        <div style="overflow:auto;height:500px;">
            <ul class="list-group" id="GeoData">

                @foreach (var item in Model.TrailSections)
                {
                    <li class="list-group-item section">@item</li>

                }
            </ul>
        </div>
    </div>

    <button id="combineclick" onclick="submitCombine()" value="click to combine">Save geodata to trail</button>


</div>
<div id="map" class="map"></div>



<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
@Scripts.Render("~/bundles/trailcombine")